@charset "UTF-8";
/*----------------------
リセット
----------------------*/
/*html5doctor.comResetStylesheetv1.6.1LastUpdated:2010-09-17Author:RichardClark-http://richclarkdesign.comTwitter:@rich_clark*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

html {
  font-size: 62.5%;
  line-height: 1.7;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  word-break: break-all;
  overflow-x: hidden; }

body {
  font-size: 1.6rem;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87); }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

navul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: transparent;
  /* pointer-events: none; */
  cursor: none;
}

/*changecolourstosuityourneeds*/
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/*changecolourstosuityourneeds*/
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*, *::before, *::after {
  box-sizing: border-box; }

img {
  width: 100%;
  vertical-align: bottom; }

ul {
  display: block; }

li {
  display: block; }

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none; }

  input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
  cursor: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: text-top;
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  vertical-align: text-top;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* ページ遷移アニメーション */
.page-enter-active, .page-leave-active {
  transition: opacity 0.1s
}
.page-enter, .page-leave-active {
  opacity: 0
}